@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.gridSelected {
  grid-column: 1 / 1;

  @include media(xs, s) {
    grid-column: 1 / 1;
  }
}

.gridTranslated {
  grid-column: 2 / 2;

  @include media(xs, s) {
    grid-column: 1 / 1;
  }
}

.imagePreview {
  img {
    max-width: 100%;

    // HDS 2.0 only has container-width-xl
    @include media(xs) {
      max-height: $container-width-xl / 8;
    }

    @include media(s) {
      max-height: $container-width-xl / 6;
    }

    @include media(m) {
      max-height: $container-width-xl / 6;
    }

    @include media(l) {
      max-height: $container-width-xl / 5;
    }

    @include media(xl) {
      max-height: $container-width-xl / 4;
    }
  }
}
