@import "~hds-design-tokens/lib/all.scss";

.taskHeaderButtons {
  .buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $spacing-xs;

    .flexButton {
      margin-right: $spacing-s;
      margin-bottom: $spacing-s;
    }

    .sendButton {
      margin-right: 0;
    }
  }
}
