@import "~hds-design-tokens/lib/all.scss";

.showResults {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: $spacing-xs;

  fieldset {
    margin-left: $spacing-s;
  }
}
