@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.gridSelected {
  grid-column: 1 / 1;

  @include media(xs, s) {
    grid-column: 1 / 1;
  }
}

.gridTranslated {
  grid-column: 2 / 2;

  @include media(xs, s) {
    grid-column: 1 / 1;
  }
}
