@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.content {
  h2 {
    color: $color-bus;
    outline: none;
  }

  .sent {
    background-color: $color-copper-light;
  }

  .accessibility {
    @include media(xl) {
      flex-wrap: nowrap;
    }
  }
}

.dialog {
  text-align: center;
  padding: $spacing-m;

  h1 {
    color: $color-bus;
  }

  div {
    margin: $spacing-s;

    &.link {
      margin-top: $spacing-xl;
    }
  }

  .message {
    margin-bottom: $spacing-l;
  }
}

.wave {
  fill: $color-copper-light;
}
