@import "~hds-design-tokens/lib/all.scss";

.statusRow {
  display: flex;
  flex-direction: row;

  .statusItem {
    flex-grow: 1;
    padding: 0 $spacing-l;

    > div {
      padding: $spacing-2-xs 0;
    }
  }
}

.bold {
  font-weight: 700;
}

.counts {
  .count {
    font-weight: 700;
    margin-right: $spacing-3-xs;
  }

  .label {
    margin-right: $spacing-xs;
  }
}
