@import "~hds-design-tokens/lib/all.scss";

.placeContainer {
  display: flex;
  flex-direction: column;
  padding: 0 $spacing-l;

  .placeItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-bus;
    margin-bottom: $spacing-2-xs;

    .placeName {
      flex-grow: 1;
      color: $color-white;
      margin-left: $spacing-s;
    }

    button {
      color: $color-white;
      border: 0;

      &:hover {
        color: $color-black;
      }

      &:disabled {
        color: $color-black-40;
        background-color: $color-black-10;
      }
    }
  }

  .selectPlacesMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .icon {
      margin-right: $spacing-2-xs;
    }

    &.error {
      color: $color-error;
    }
  }
}
