@import "~hds-design-tokens/lib/all.scss";

.taskSearch {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: $spacing-s 0;
  }

  .search {
    align-items: end;

    .gridInputPlaceName {
      grid-column: span 4;
    }

    .gridInputRequest {
      grid-column: span 2;
    }

    .gridButton {
      grid-column: span 2;
    }
  }
}
