@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.layout {
  display: flex;
  flex-direction: row;

  .left,
  .right {
    flex-grow: 1;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    // HDS 2.0 only has container-width-xl
    max-width: $container-width-xl;
    width: 100%;
    box-sizing: border-box;
    padding: 0 $spacing-s;
  }
}
