@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.notice {
  margin-bottom: $spacing-layout-s;
  border: solid $color-bus 0;
  border-left-width: $spacing-2-xs;
  background-color: $color-fog-light;

  div {
    margin: $spacing-s;
  }

  .icon {
    grid-column: span 1;
    color: $color-bus;
  }

  .text {
    grid-column: span 8;

    .title {
      font-size: $fontsize-heading-m;
      font-weight: 700;

      @include media(xs) {
        font-size: $fontsize-heading-s;
      }
    }
  }

  .gridButton {
    grid-column: span 3;
    justify-self: stretch;

    button {
      background-color: $color-white;
      width: 100%;
    }
  }
}
