@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins";

.footer {
  position: relative;
  margin-top: $spacing-layout-l;

  .wave {
    position: relative;
    fill: $color-fog-medium-light;

    @include xs {
      width: $container-width-xs;
    }

    @include s {
      width: $container-width-s;
    }

    @include m {
      width: $container-width-m;
    }

    @include l {
      width: $container-width-l;
    }

    @include xl {
      width: $container-width-xl;
    }
  }

  .content {
    position: absolute;
    left: $spacing-m;
    bottom: $spacing-xs;
  }
}
