@import "~hds-design-tokens/lib/all.scss";

.footer {
  margin-top: $spacing-layout-l;

  .wave {
    div {
      fill: $color-fog-light;
    }

    &:before {
      background-color: $color-fog-light;
    }
  }
}
