@import "~hds-design-tokens/lib/all.scss";

.content {
  .header {
    h1 {
      grid-column: span 6;
      color: $color-bus;
    }

    .gridButton {
      grid-column: span 2;
      justify-self: end;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.sent {
  background-color: $color-copper-light;
}

.opening {
  background-color: $color-silver-light;
}

.photos {
  background-color: $color-silver-light;
}
