@import "~hds-design-tokens/lib/all.scss";

.content {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    h1 {
      color: $color-bus;
    }

    .flexButton {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .sent {
    background-color: $color-copper-light;
  }

  .opening {
    background-color: $color-silver-light;
  }

  .photos {
    background-color: $color-silver-light;
  }
}

.dialog {
  text-align: center;
  padding: $spacing-m;

  h1 {
    color: $color-bus;
  }

  div {
    margin: $spacing-s;
  }

  .message {
    margin-bottom: $spacing-l;
  }
}

.wave {
  fill: $color-copper-light;
}
