@import "~hds-design-tokens/lib/all.scss";

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .flexButton {
    margin-right: $spacing-s;
    margin-bottom: $spacing-s;
  }

  .returnButton {
    margin-right: 0;
  }
}
