@import "~hds-design-tokens/lib/all.scss";

.inputLanguage {
  background-color: $color-copper-light;
  padding: $spacing-m !important;
  margin-bottom: $spacing-layout-s;

  input {
    background-color: $color-white;
  }
}
