@import "~hds-design-tokens/lib/all.scss";

.geocode {
  background-color: $color-copper-light;
  padding: $spacing-m;
}

.map {
  height: 20rem;
}

.resetLocation {
  margin-top: $spacing-layout-s;
}

.invalidLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-error;
  margin-top: $spacing-layout-s;

  span {
    margin-left: $spacing-2-xs;
  }
}
