@import "~hds-design-tokens/lib/all.scss";

.opening {
  background-color: $color-silver-light;
  padding: $spacing-m;
  margin-top: $spacing-layout-s;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: 700;
    font-size: $fontsize-body-l;
  }

  .icon {
    margin-right: $spacing-2-xs;
  }

  .notice {
    margin-top: $spacing-s;
  }
}
