@import "~hds-design-tokens/lib/all.scss";

.opening {
  background-color: $color-silver-light;
  padding: $spacing-m;
  margin-top: $spacing-layout-s;
  margin-bottom: $spacing-layout-s;

  .icon {
    margin-right: $spacing-2-xs;
  }

  .notice {
    margin-top: $spacing-s;
  }
}
