@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.openingTimes {
  .results {
    display: flex;
    flex-direction: column;

    .resultRow {
      padding: $spacing-xs;
    }
  }
}
