@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.photos {
  h5,
  .notice {
    margin-bottom: $spacing-layout-xs;
  }

  button {
    margin-right: $spacing-s;
  }

  .imagePreview {
    margin-bottom: $spacing-layout-xs;

    img {
      max-width: 100%;

      @include media(xs) {
        max-height: $container-width-xs / 2;
      }

      @include media(s) {
        max-height: $container-width-s / 2;
      }

      @include media(m) {
        max-height: $container-width-m / 4;
      }

      @include media(l) {
        max-height: $container-width-l / 4;
      }

      @include media(xl) {
        max-height: $container-width-xl / 4;
      }
    }
  }

  .creativeCommonsLink {
    margin-left: $spacing-layout-s - $spacing-xs;
    margin-bottom: $spacing-layout-s;
  }

  .addNew {
    margin-top: $spacing-layout-s;
  }
}
