@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.placeResults {
  .results {
    column-gap: 0;
    margin-bottom: $spacing-layout-l;

    .gridContent {
      display: flex;
      flex-direction: row;
      border-top: 2px solid $color-black-50;
      border-bottom: 2px solid $color-black-50;

      &.firstColumn {
        grid-column: 1 / span 2;
        border-left: 2px solid $color-black-50;
      }

      &.middleColumn {
        grid-column: 3 / span 4;
      }

      &.lastColumn {
        grid-column: 7 / 7;
        border-right: 2px solid $color-black-50;
        justify-content: flex-end;
      }

      &.gridButton {
        background-color: $color-copper-light;
        padding: 0;
        font-size: $fontsize-heading-s;
      }

      svg {
        flex-shrink: 0;
        margin: 0px $spacing-2-xs;
      }

      .addressContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .ownPlaceContainer {
        display: flex;
        flex-direction: column;

        .ownPlace {
          background-color: $color-bus;
          color: $color-white;
          display: flex;
          flex-direction: row;
          align-items: center;

          .ownPlaceLabel {
            margin-right: $spacing-2-xs;

            @include media(m, l, xl) {
              display: block;
            }

            @include media(xs, s) {
              display: none;
            }
          }
        }
      }
    }
  }

  .newPlace {
    background-color: $color-copper-light;
  }
}
