@import "~hds-design-tokens/lib/all.scss";

.placeSearch {
  h1 {
    color: $color-bus;
  }

  .search {
    align-items: end;
    background-color: $color-copper-light;
    padding: $spacing-m;
    margin-top: $spacing-layout-xs;

    .gridInput {
      grid-column: span 3;
    }
  }
}
