@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.preview {
  .title {
    margin-top: $spacing-layout-m;
  }

  margin-bottom: $spacing-layout-l;

  // $spacing-4-xl = 4rem = 64px
  grid-template-columns: minmax(2 * $spacing-4-xl, 1fr) minmax(4 * $spacing-4-xl, 2fr);

  @include media(xs, s) {
    grid-template-columns: minmax(4 * $spacing-4-xl, 1fr);
  }

  column-gap: 0;
  row-gap: 0;

  .gridHeading {
    grid-column: 1 / 1;

    @include media(xs, s) {
      grid-column: 1 / 1;
    }
  }

  .gridPlaceInfo {
    grid-column: 2 / 2;

    @include media(xs, s) {
      grid-column: 1 / 1;
    }
  }

  .gridHeader {
    padding: $spacing-xs;
    margin: 0;

    @include media(xs, s) {
      display: none;
    }
  }

  .headerLine {
    grid-column: 1 / span 2;

    @include media(xs, s) {
      display: none;
    }
  }

  .gridSubHeader {
    padding: $spacing-xs;
    margin: 0;
  }

  .gridContent {
    padding: $spacing-xs;
    overflow-wrap: break-word;
    word-wrap: break-word;

    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      background-color: $color-silver-light;
    }

    @include media(xs) {
      &:nth-child(2n) {
        margin-bottom: $spacing-xs;
      }
    }

    @include media(s) {
      &:nth-child(2n) {
        margin-bottom: $spacing-s;
      }
    }

    .map {
      // HDS 2.0 only has container-width-xl
      @include media(xs) {
        height: $container-width-xl / 8;
      }

      @include media(s) {
        height: $container-width-xl / 6;
      }

      @include media(m) {
        height: $container-width-xl / 6;
      }

      @include media(l) {
        height: $container-width-xl / 5;
      }

      @include media(xl) {
        height: $container-width-xl / 4;
      }
    }

    .imagePreview {
      img {
        max-width: 100%;

        // HDS 2.0 only has container-width-xl
        @include media(xs) {
          max-height: $container-width-xl / 8;
        }

        @include media(s) {
          max-height: $container-width-xl / 6;
        }

        @include media(m) {
          max-height: $container-width-xl / 6;
        }

        @include media(l) {
          max-height: $container-width-xl / 5;
        }

        @include media(xl) {
          max-height: $container-width-xl / 4;
        }
      }
    }
  }
}
