@import "~hds-design-tokens/lib/all.scss";

.footer {
  .gridButton {
    grid-column: span 3;
  }

  .closingDownButton {
    grid-column: span 4;
  }

  .returnButton {
    justify-self: end;
  }
}
