@import "~hds-design-tokens/lib/all.scss";

.terms {
  background-color: $color-fog-light;
  padding: $spacing-m;
  margin-bottom: $spacing-layout-m;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: 700;
    font-size: $fontsize-body-l;
  }

  .notice {
    margin-top: $spacing-s;

    .creativeCommonsLink {
      margin-left: -$spacing-xs - $spacing-4-xs;
    }
  }
}
