@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.tipFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .flexButton {
    display: flex;
    flex-direction: row;
    margin-right: $spacing-s;
    margin-bottom: $spacing-s;
    justify-content: flex-start;
  }

  .flexButtonRight {
    margin-right: 0;
    justify-content: flex-end;
  }
}
