@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.tipFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .flexButton {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-right: $spacing-s;
    margin-bottom: $spacing-s;
    justify-content: flex-start;

    @include media(xs) {
      margin-right: 0;
      justify-content: center;
    }
  }

  .flexButtonRight {
    margin-right: 0;
    justify-content: flex-end;

    @include media(xs) {
      justify-content: center;
    }
  }
}
