@import "~hds-design-tokens/lib/all.scss";

.tipNotice {
  background-color: $color-copper-light;
  padding: $spacing-m;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: 700;
    font-size: $fontsize-body-l;
  }

  .notice,
  .link {
    margin-top: $spacing-s;
  }
}
