@import "~hds-design-tokens/lib/all.scss";

.placeNameNotice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$spacing-s;
  margin-right: -$spacing-s;

  .placeName {
    flex-grow: 1;
    margin-left: $spacing-s;
    margin-right: $spacing-s;
  }

  .notice {
    max-width: $container-width-s;
    margin-bottom: $spacing-layout-s;
    margin-left: $spacing-s;
    margin-right: $spacing-s;
  }
}
