@import "~hds-design-tokens/lib/all.scss";

.action {
  margin-top: $spacing-layout-xs;

  .buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      margin-left: $spacing-s;

      &.approveSecondary {
        color: $color-success;
        border-color: $color-success;
      }

      &.rejectSecondary {
        color: $color-error;
        border-color: $color-error;
      }
    }
  }
}
