@import "~hds-design-tokens/lib/all.scss";

.intro {
  background-color: $color-copper-light;
  padding: $spacing-m;

  .title {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .flexButton {
      margin-right: $spacing-s;
      margin-bottom: $spacing-s;

      .primary {
        background-color: $color-bus;
      }

      .secondary {
        background-color: $color-white;
      }
    }
  }
}

.wave {
  fill: $color-copper-light;
}
