@import "~hds-design-tokens/lib/all.scss";

.taskHeader {
  margin-bottom: $spacing-layout-l;

  .bold {
    font-weight: 700;
  }

  .upperRow {
    display: flex;
    flex-direction: row;
    border: solid $color-fog-light $spacing-2-xs;
    border-bottom: 0;

    div {
      flex-grow: 1;
      padding: $spacing-2-xs;
    }
  }

  .lowerRow {
    display: flex;
    flex-direction: row;

    div {
      flex-grow: 1;
      padding: $spacing-2-xs;
    }

    .notifier {
      background-color: $color-fog-light;
      border: solid $color-fog-light $spacing-2-xs;

      .notifierType {
        display: flex;
        flex-direction: row;
        padding: 0;
      }
    }

    .comment {
      background-color: $color-copper-light;
      border: solid $color-copper-light $spacing-2-xs;
    }
  }
}
