@import "~hds-design-tokens/lib/all.scss";

.taskHeaderButtons {
  .buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: $spacing-xs;

    .flexButton {
      margin-left: $spacing-s;
      margin-bottom: $spacing-s;
    }

    .returnButton {
      margin-left: 0;
    }
  }
}
