@import "~hds-core/lib/base.css";
@import "~hds-core/lib/components/all.css";
@import "~hds-core/lib/icons/all.css";
@import "~hds-design-tokens/lib/all.scss";
@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: HelsinkiGrotesk, Arial, sans-serif;
}

h1 {
  color: $color-bus;
}

textarea {
  height: auto !important;
}

.formSection {
  margin-bottom: $spacing-layout-l;
}

.formInput {
  margin-bottom: $spacing-layout-s;
}

.formNotification {
  z-index: auto !important;
}

.languageSection {
  border: solid $color-copper-light 0;
  border-left-width: $spacing-2-xs;
  padding-left: $spacing-2-xs;

  h3 {
    color: $color-bus;
  }
}
