@import "~hds-core/lib/base.css";
@import "~hds-core/lib/components/all.css";
@import "~hds-core/lib/icons/all.css";
@import "~hds-design-tokens/lib/all.scss";
@import "mixins";
@import "leaflet/dist/leaflet.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: HelsinkiGrotesk, Arial, sans-serif;
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/HelsinkiGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/HelsinkiGrotesk-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/HelsinkiGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/HelsinkiGrotesk-Bold.otf") format("opentype");
}

h1 {
  font-size: $fontsize-heading-xl !important;
}

h2 {
  font-size: $fontsize-heading-l !important;
}

h3 {
  font-size: $fontsize-heading-m !important;
}

h4 {
  font-size: $fontsize-heading-s !important;
  margin: 0;
}

h5 {
  font-size: $fontsize-heading-xs !important;
  margin: 0;
}

textarea {
  height: auto !important;
}

.formSection {
  margin-bottom: $spacing-layout-l;
}

.formInput {
  margin-bottom: $spacing-layout-s;
}

.formNotification {
  z-index: auto !important;
}

.languageSection {
  border: solid $color-copper-light 0;
  border-left-width: $spacing-2-xs;
  padding-left: $spacing-2-xs;

  h3 {
    color: $color-bus;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: $spacing-layout-s;

  @include media(xs) {
    column-gap: $spacing-xs;
    row-gap: $spacing-xs;
  }

  @include media(s) {
    column-gap: $spacing-s;
    row-gap: $spacing-s;
  }

  @include media(m, l, xl) {
    column-gap: $spacing-m;
    row-gap: $spacing-m;
  }
}

.gridColumn1 {
  grid-column: 1 / 1;
}

.gridColumn2 {
  grid-column: 2 / 2;
}

.gridColumn3 {
  grid-column: 3 / 3;
}

.gridButton {
  margin-top: $spacing-layout-xs;
}

.flexSpace {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.MuiStepIcon-root.MuiStepIcon-active,
.MuiStepIcon-root.MuiStepIcon-completed {
  color: $color-bus;
}
