@import "~hds-core/lib/base.css";
@import "~hds-core/lib/components/all.css";
@import "~hds-core/lib/icons/all.css";
@import "~hds-design-tokens/lib/all.scss";
@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: HelsinkiGrotesk, Arial, sans-serif;
}

.formSection {
  margin-bottom: $spacing-layout-l;
}

.formInput {
  margin-bottom: $spacing-layout-s;
}
