$min-breakpoints: (
  s: $breakpoint-s,
  m: $breakpoint-m,
  l: $breakpoint-l,
  xl: $breakpoint-xl,
);

$max-breakpoints: (
  xs: $breakpoint-s,
  s: $breakpoint-m,
  m: $breakpoint-l,
  l: $breakpoint-xl,
);

@mixin media($keys...) {
  @each $key in $keys {
    @if map-has-key($min-breakpoints, $key) and map-has-key($max-breakpoints, $key) {
      @media only screen and (min-width: map-get($min-breakpoints, $key)) and (max-width: map-get($max-breakpoints, $key)) {
        @content;
      }
    } @else if map-has-key($min-breakpoints, $key) {
      @media only screen and (min-width: map-get($min-breakpoints, $key)) {
        @content;
      }
    } @else if map-has-key($max-breakpoints, $key) {
      @media only screen and (max-width: map-get($max-breakpoints, $key)) {
        @content;
      }
    }
  }
}
